<div class="login-form">
<form action="/api/members" method="post">
  <div class="form-control">
    <label for="name"></label>
    <input type="text" name="name" placeholder="Name">
    <label for="email"></label>
    <input type="email" name="email" placeholder="Email">

    <button class="btn"> Submit </button>
  </div>
</form>

</div>