<% members.forEach((member) => {%>  
<tr class="repo-description">


  <td>
    <h3><%=member.id%></h3>
  </td>
  <td>
    <h3><%=member.name%></h3>
  </td>
  <td>
    <h3><%=member.email%></h3>
  </td>

</tr>
<%})%>
